<% include header %> 

<header> 
    <h1>Ntalk</h1> 
    <h4>Aconteceualgoterrível!:(</h4> 
</header> 

<p> Veja os detalhes do erro: <br> 

    <%- error.message %> 

</p> 

<hr> 

<p>
    Quetalvoltar <a href="/">homepage?</a> :)
    
</p> <% include footer %> 